@import 'mixin'

body, html
    background-color: #E4E5E9 !important
    font-family: 'Arial', sans-serif !important
    font-size: 16px !important
    line-height: 1.5 !important
    color: #263F60 !important
    margin: 2rem !important
    padding: 0 !important
    -webkit-overflow-scrolling: touch !important
    -webkit-tap-highlight-color: transparent !important
    -webkit-font-smoothing: antialiased !important
    -moz-osx-font-smoothing: grayscale !important

p, h1, h2, h3, h4, h5, h6, span
    @include noselect
    